<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>hello gaurav </h1>
    <form method="GET" action="/chats/new">
    <button>New CHat </button>
   <% for (let chat of chats) { %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <p><%= chat.msg %></p>
                <form>
                    <button>edit
                        
                    </button>
                </form>
            </div>
            <p>
                Received: <%= chat.to %>
            </p>
        <hr/>
        </div>
   <% } %>
</form>
</body>
</html>
